* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#myCanvas {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 5px solid lightgreen;
}
#myScore {
  margin-top: 3rem;
}
#myScore,
#myScore2 {
  font-size: 1.5rem;
  padding: 20px;
  color: white;
}

#reStart {
  font-size: 1.25rem;
  margin: 2rem;
  padding: 0.25rem 0.5rem;
  color: black;
  background-color: aqua;
}
